h1 {
    color: #A5C9CA;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.header-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #2C3333;
}

.add-task-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #395B64;
}

.add-task-button {
    margin-top: 1cm;
    margin-bottom: 1cm;
    border-color: #A6D1E6;
    background-color: #D9F8C4;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: bolder;
}

.add-task-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cards-page {
    background-color: #90C8AC;
    text-align: justify;
    padding-left: 15%;
    max-height: fit-content;
}

.add-task-button-cards-page {
    border-color: #A6D1E6;
    background-color: #D9F8C4;
    border-radius: 8px;
    flex: 1;
    padding: 10px 16px;
    display: inline-block;
    border-radius: 10px;
    margin: 3cm;
}